body{background-color:#F9F3EE;}
hr{
  border-style: dotted none none;
  border-width:4px;
  border-color:grey;
  height:0px;
  width:5%;}
  h1{background-color:#F9F3EE;
    color:#CDC2AE;}
  h3{color:#CDC2AE;
  background:#F9F3EE; }
